/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 1px solid #2f2d2d7f;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

body {
  background-color: #222;
  color: #fff;
}

.custom-titulo {
  color: #666; /* Cambia este valor al color que desees para el título "Acerca de" */
}

.custom-acerca {
  background-color: #767171(255, 255, 255, 0.9); /* Fondo menos oscuro (puedes ajustar el valor de 0.9 para cambiar la opacidad) */
  color: #333; /* Color de texto (en este caso, un gris oscuro) */
}


/* Color de letras para la sección "Acerca de" */
.section-acerca-de {
  color: #424040;
}

/* Estilos para enlaces y botones en el fondo oscuro */
a,
.btn {
  color: #fff;
}

/* Estilo para enlaces al pasar el mouse por encima */
a:hover {
  color: #ff6600; /* Cambia este valor al color que desees para resaltar los enlaces al pasar el mouse por encima */
}

/* Estilo para botones al pasar el mouse por encima */
.btn:hover {
  background-color: #cc5500;
}

/* Resto del contenido del archivo blog.css */
.blog-header {
border-bottom: 1px solid #2f2d2d7f;
}

.blog-header-logo {
font-family: "Playfair Display", Georgia, "Times New Roman", serif;
font-size: 2.25rem;
color: #fff;
}

.blog-header-logo:hover {
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue;
font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
font-size: 2.5rem;
}

@media (min-width: 768px) {
.display-4 {
  font-size: 3rem;
}
}

.flex-auto {
flex: 0 0 auto;
}

.h-250 {
height: 250px;
}

@media (min-width: 768px) {
.h-md-250 {
  height: 250px;
}
}

/* Pagination */
.blog-pagination {
margin-bottom: 4rem;
}

/*
* Blog posts
*/
.blog-post {
margin-bottom: 4rem;
background-color: #1e1e1e;
color: #ffffff;
padding: 1rem;
}

.blog-post-title {
font-size: 2.5rem;
}

.blog-post-meta {
margin-bottom: 1.25rem;
color: #727272;
}

/*
* Footer
*/
.blog-footer {
padding: 2.5rem 0;
color: #727272;
text-align: center;
background-color: #333;
border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
margin-bottom: 0;
}

.dark-background {
  background-color: #333; /* Puedes ajustar el color oscuro según tus preferencias */
  color: white; /* Color de texto blanco para contrastar con el fondo oscuro */
}

.dark-comment {
  background-color: #333; /* Puedes ajustar el color oscuro según tus preferencias */
  color: white; /* Color de texto blanco para contrastar con el fondo oscuro */
}

/*
* código extraído desde nuestro HTML
*/

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.b-example-divider {
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}