{% extends 'blog/base.html' %}

{% load static %}

{% block contenido %}

<article class="blog-post">
    <section class="col-auto d-none d-lg-block">
      <img src= {{ articulo.imagen.url }} class="img-fluid" alt="" />
    </section>

    <strong class="d-inline-block mb-2 mt-3 text-primary"><a href= {% url 'categoria' categoria_slug=articulo.categoria.slug %} >{{ articulo.categoria }}</a></strong>
    <h2 class="blog-post-title mb-1">{{ articulo.titulo }}</h2>
    <p class="blog-post-meta">{{ articulo.creacion|date:'d F Y'|capfirst }} por <a href= {% url 'autor' autor=articulo.autor%} >{{ articulo.autor }}</a></p>

    <p class="lead my-3">{{ articulo.bajada }}</p>
    <hr>
    <p>{{ articulo.contenido|safe }}</p>

    <hr>

    <strong>Etiquetas:</strong>
    {% for etiqueta in articulo.etiquetas.all %}
      <span class="badge text-bg-dark">{{etiqueta.nombre|upper}}</span>
    {% endfor %}
  </article>

  <section class="my-3 mt-5 mb-5">
    <a class="btn btn-dark rounded-pill" href={% url 'inicio' %}>Volver al Inicio</a>
    {% if request.user == articulo.autor %}
      <section class='float-end'>
        <a class="btn btn-dark rounded-pill" href={% url 'actualizar_articulo' articulo_slug=articulo.slug %}>Editar</a>
        <a class="btn btn-dark rounded-pill" href={% url 'eliminar_articulo' articulo_slug=articulo.slug %}>Eliminar</a>
    </section>
    {% endif %} 
  </section>

  <!-- Comentarios -->
  {% if user.is_authenticated %}
<section>
  <div class="card dark-comment">
        <div class="card-body">
            <div class="d-flex flex-start align-items-center">
                <img class="rounded-circle shadow-1-strong me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60" height="60" />
                <div>
                    <h6 class="fw-bold text-primary mb-1">{{ user.username }}</h6>
                    <p class="text-muted small mb-0">
                        {{ "Ahora" }} <!-- Cambia esto si deseas mostrar la fecha del comentario -->
                    </p>
                </div>
            </div>
            <form action="{% url 'comentario' articulo_slug=articulo.slug %}" method="post">
                {% csrf_token %}
                <div class="mt-3 mb-4 pb-2">
                    <textarea class="form-control" name="contenido" id="textAreaExample" rows="4" style="background: #fff;"></textarea>
                    <label class="form-label" for="textAreaExample">Comentario</label>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Publicar comentario</button>
            </form>
        </div>
    </div>
</section>
{% else %}
<p>Debes iniciar sesión para dejar un comentario.</p>
{% endif %}


<section class="my-3 mt-5 mb-5">
  {% for comentario in articulo.comentarios.all %}
  <div class="card mb-3 dark-comment"> 
      <div class="card-body">
          <div class="d-flex flex-start align-items-center">
            <img class="rounded-circle shadow-1-strong me-3" src="/static/blog/img/terminator-perfil1.jpg" alt="Imagen de perfil predeterminada" width="60" height="60" />
              <div>
                  <h6 class="fw-bold text-primary mb-1">{{ comentario.usuario.username }}</h6>
                  <p class="text-muted small mb-0">{{ comentario.fecha_creacion }}</p>
              </div>
          </div>
          <p class="mt-3 mb-4 pb-2">{{ comentario.contenido }}</p>
      </div>
  </div>
  {% endfor %}
</section>


{% endblock contenido %}