{% extends 'blog/base.html' %}

{% block contenido %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Iniciar Sesión</h2>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de usuario</label>
          {{ form.username }}
        </div>
        <div class="mb-3">
          <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña</label>
          {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Iniciar Sesión</button>
      </form>
      <p class="mt-3">
        ¿Aún no tienes una cuenta? <a href="{% url 'registro' %}">Regístrate</a>
      </p>
    </div>
  </div>
</div>
{% endblock contenido %}